/* Style for the video to cover the whole page */
.loader-content-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: contain; /* Ensures the video covers the background */
  z-index: 2; /* Puts the video behind other content */
  background-color: #fff;
  display: none;
}

.loader-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #edc165;
}

.sun-ray, .sun-face {
  position: absolute;
  width: 105px;
  fill: #0B1313;
}

.sun-ray {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 10s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 10s;
  -ms-animation-iteration-count: 1;
  -ms-animation-timing-function: linear;

  animation-name: spin;
  animation-duration: 10s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

body, html {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;  
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Prevent scrolling while video is playing */
}

.main-content {
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 20px;
  background-image: url(./assets/sanni-bg.png);
  background-size:     cover;                     
  background-repeat:   no-repeat;
  background-position: center center;
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text-content {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.title {
  font-size: 50px;
  font-weight: 500;
}

.sub-title {
  font-size: 33px;
  font-weight: 700;
  letter-spacing: 4px;
}

.content {
  letter-spacing: 2px;
  font-size: 28px;
}

.text-white {
  color: #fff;
}

.move-up {
  animation: moveUp 1s ease forwards;
}

.sanni-logo {
  width: 350px;
}

/* animation */
@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

@keyframes moveUp {
  from {
      transform: translateY(0); /* Initial position */
  }
  to {
      transform: translateY(-100%); /* Move up by 100px */
  }
}

@media (max-width: 900px) {
  .main-content {
    background-image: url(./assets/sanni-bg-sm.png);
    justify-content: start;
  }
  .text-content, .sanni-logo {
    margin-top: 100px;
  }
}